<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-light text-center">
      <h1>Consultar Cidades</h1>

      <%= form_tag '/cities/search', id: 'cities-form', method: :get, remote: true, class: 'form-inline' do %>
        <div class="input-group">
          <%= select_tag "state_id", states_options, class: 'form-select', style: 'max-width: 250px;' %>
          <%= text_field_tag :name, params[:search], class: 'form-control', placeholder: 'Digite o nome da cidade...' %>
          <%= submit_tag 'Buscar!', name: nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
     </div>
    </div>
  </div>
  <div class="row gx-5">
    <div class="col">
      <ul id='cities-result' class="list-group">
      </ul>
    </div>
  </div>
</div>
